@import "./lwb/sassmixins/mixins";
p {
  margin: 0;
}
body {
  margin: 0;
  padding: 0;
}
$mainColor:#FF5400;
.top_search {
  @include size(px2rem(690px),px2rem(64px));
  background-color: #F2F2F2;
  border-radius:px2rem(50px);
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;  
  .icon_place, .icon_moredown ,.place_show{
    color: $mainColor;
  }

  .icon_place{
    margin-left: px2rem(30px);
    font-size: px2rem(24px);
  }

  .place_show {
    margin: 0 px2rem(12px);
    font-size: px2rem(28px);
  }

  .icon_moredown {
    // font-size: 0.5px;
    transform: scale(0.5);
    font-weight: 100;
    font-size: px2rem(12px);
    margin-right: px2rem(13px);
  // @include size(px2rem(10px),px2rem(8px));

  }
  .icon_search {
    color: #C3C3C3;
    margin-right: px2rem(17px);
  }
  .search_type {
    width: px2rem(400px);
    background-color: transparent;
    border: 0;
  }
  .cut_line {
    width: 1px;
    background-color: #000000;
  
  }
  
}
.menu {
  display: flex;
  flex-direction: row;
  // flex-wrap: nowrap;
 margin-top: px2rem(50px);
  .menu_icon {

   flex-grow: 1;
    width: px2rem(110px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    .menu_img{
      @include size(px2rem(90px),px2rem(90px));
      align-self: center;
    }
    .menu_content {
      // @include size(px2rem(110px),px2rem(24px));
      font-size: px2rem(24px);
      
    }
  }
}

.container{
  margin-left: px2rem(30px);
  margin-right: px2rem(30px);
  display: flex;
  flex-direction: column;
  .notice {
    margin-top: px2rem(40px);
    @include size(px2rem(690px),px2rem(72px));
    background:rgba(255,255,255,1);
    box-shadow:0 0 px2rem(8px) 0 rgba(0, 0, 0, 0.1);
    border-radius:8px;
    display: flex;
    flex-direction: row;
    flex-wrap:nowrap;
    font-size: px2rem(26px);
    overflow: hidden;
    .icon_loud {
      align-self: center;
      flex-grow: 0;
      margin: 0 px2rem(19px) 0 px2rem(20px);
      color: $mainColor;
    }
    .notice_gonggao {
      align-self: center;
      // align-self: center;
      font-size: px2rem(26px);
      flex-grow: 0;
      white-space: nowrap;      
    }
    .notice_text {
      padding-left: 0;
    //  flex-grow: 1;
      margin: 0;  
      flex-grow: 1;


    }
    .notice_text li{
      list-style: none;
      line-height: px2rem(72px);
    /*以下为了单行显示，超出隐藏*/
     @include text-overflow;
  
    }
  }

  .rush_buy {
    // display: flex;
    margin-top: px2rem(39px);
    width: px2rem(690px);
    height: px2rem(45px);
    // flex-direction: row;
    // flex-wrap: nowrap;
    position: relative;
    .rush_buy_left {
      float: left;
      // margin: px2rem(1px);
      // padding: px2rem(1px);
      position: static;
      .left_text {
        margin: 0;
        font-size:px2rem(40px); 
        position: absolute;
        z-index: 2;
      }
      .rush_buy_bg {
        position: absolute;
        bottom: 0;
        @include size(px2rem(160px),px2rem(14px));
        z-index: 1;
        background:rgba(255,84,0,1);
      }
     
    }
    .rush_buy_right {
      font-size:px2rem(24px);
      letter-spacing: px2rem(2px);
      float: right;
      position: absolute;
      right: 0;
      bottom: 0;
      .time {
        display:inline-block;
        text-align: center;
        @include size(px2rem(40px),px2rem(28px));
        background:rgba(51,51,51,1);
        border-radius:4px;
        color: #fff;
        padding: px2rem(4px);
      }
    }


  }
  
  .rush_text {
    margin-top: px2rem(39px);
    .middle_img {
   
      @include size(px2rem(690px),px2rem(290px));
      border-radius:20px;
    }
    .rush_text_title {
      font-size:px2rem(34px);
      font-weight:bold;
color:rgba(51,51,51,1);
margin-top: px2rem(25px);
    }
    .rush_text_price {
      @include text-overflow;
      margin-top: px2rem(25px);
      font-size:px2rem(26px);
      font-weight:bold;
      color:rgba(102,102,102,1);
    }
    
    .rush_price {
      margin-top: 0;
      padding: 0;
    }


  }
  .rush_price1 {
    font-size:px2rem(30px);
font-weight:bold;
color:rgba(230,46,46,1);
  }
  .rush_price2 {
    font-size:px2rem(40px);
    font-weight:bold;
    color:rgba(230,46,46,1);
  }
  .rush_price3 {
    font-size:px2rem(28px);
    font-weight:bold;
    color:rgba(230,46,46,1);
  }
  .rush_price4{
    font-size:px2rem(24px);
    font-weight:bold;
    color:rgba(102,102,102,1);
  }
  .rush_price5{
    font-size:px2rem(24px);
    font-weight:bold;
    text-decoration:line-through;
    color:rgba(195,195,195,1);
  }

  .like {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    @include size(px2rem(690px),px2rem(240px));
    .like_img{
      @include size(px2rem(240px),px2rem(240px));
      border-radius:20px;
      margin-right: px2rem(26px);
    }
    .like_right {
      display: flex;
      flex-direction: column;
      .like_name {
        font-size:px2rem(30px);
        font-weight:bold;
        color:rgba(51,51,51,1);
      }
     

      .like_content {
        width: px2rem(413px);
        font-size:px2rem(24px);
        margin: px2rem(23px) 0 px2rem(25px) 0;
        color:rgba(102,102,102,1);
        @include text-overflow;
      }

      .like_time {

        font-size:px2rem(22px);
        // font-weight:bold;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        .progress {
          @include size(px2rem(180px),px2rem(24px));
          background-color: #FFC1A3;
          border-radius:px2rem(12px);
          position: relative; 
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          align-items: center;
          .progress_left {
            // float: left;
            background-color: $mainColor;
            border-radius:px2rem(12px);
            @include size(px2rem(50px),px2rem(24px));
            position: absolute;
            left: 0;
          }
          .progress_right {
            // float: right;
            color: #fff;
            margin-right: px2rem(11px);
            position: absolute;
            right: 0;
          }
        }
        .like_time_name {
          margin: 0 px2rem(5px) 0 px2rem(21px);
          font-size:px2rem(22px);
          white-space: nowrap;
        }
        .like_count_down {
          color: #E62E2E;
          font-size:px2rem(22px);
          white-space: nowrap;
        }
      }
      .like_state {

        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        position: relative;
        .iconaddress {
          font-size:px2rem(20px);
        }
        .adress {
          font-size:px2rem(24px);
          font-weight:bold;
          color:rgba(102,102,102,1);
        }
        .like_activity {
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          position: absolute;
          right: 0;
          color: #fff;
          // font-size: px2rem(20px);
          .activity_recommend {
            background-color: $mainColor;
            font-size: px2rem(17px);
            // height: px2rem(28px);
            padding: px2rem(3px);
            border-radius: px2rem(4px);
            margin-right: px2rem(16px);
             
          }
          .activity_limmit {
            background-color: $mainColor;
            font-size: px2rem(17px);
            // height: px2rem(28px);
            padding: px2rem(3px);
            border-radius: px2rem(4px);
          }

        }
      }

      .like_price1 {
        font-size:px2rem(30px);
    font-weight:bold;
    color:rgba(230,46,46,1);
      }
      .like_price2 {
        font-size:px2rem(40px);
        font-weight:bold;
        color:rgba(230,46,46,1);
      }
      .like_price3 {
        font-size:px2rem(28px);
        font-weight:bold;
        color:rgba(230,46,46,1);
      }
      .like_price4{
        font-size:px2rem(24px);
        font-weight:bold;
        color:rgba(102,102,102,1);
      }
      .like_price5{
        font-size:px2rem(24px);
        font-weight:bold;
        text-decoration:line-through;
        color:rgba(195,195,195,1);
      }
    
    }

  }
}





.footer_menu {
  @include size(px2rem(750px),px2rem(108px));
  position: fixed;
  bottom: 0;
  background:rgba(255,255,255,1);
  display: flex;
  flex-direction: row;
  z-index: 999;

  border-top: 1px solid rgb(121, 117, 117);
  .footer_menu_one {
    // color: $mainColor;
    padding-top: px2rem(20px);
    flex-grow: 1;
    display: inline;
    text-align: center;
    .footer_menu_title {
      margin: 0;
      font-size:px2rem(18px);
      font-weight:400;
      color:rgba(51,51,51,1);
    }
  }
  .footer_menu_one:nth-child(1) {
    color: $mainColor;
    .footer_menu_title {
      color: $mainColor;
    }
  }
}


.swiper-container {
  margin: px2rem(20px) 0;
  @include size(px2rem(660px),px2rem(300px));
  border-radius:px2rem(20px);
}
.container_end {
 margin-bottom: px2rem(150px);
 margin-top: px2rem(49px);
 font-size: px2rem(24px);
 color:rgba(153,153,153,1);
 align-self: center;
}

.you_like {
  margin-bottom: px2rem(45px);
}

.line {
  background-color: #E3E3E3;
  height: px2rem(2px);
  margin: px2rem(39px) 0;
  padding: 0;
}
